@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html {
  font-family: 'Lato', sans-serif;
  background-color: #f0f4f8;
}

.project-container {
  flex-wrap: wrap;
  border: none;
  flex-direction: row;
  margin: 30px;
  padding: 40px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
}

.article-box {
  border: none;
  display: flex;
  padding-bottom: 20px;
}

.interest-wrapper {
  display: flex;
  flex-direction: row;
}

.hero-image-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

.article-container {
  margin: 30px;
}

.article-wrapper {
  display: flex;
  flex-direction: row;
}

.article-box-top {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  margin-right: 30px;
  background-color: #8da2b5;
}

.project-flex-container {
  margin: 60px;
  display: flex;
}

.project-flex-container2 {
  margin: 60px;
  display: flex;
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #345C81;
  color: white;
  padding-left: 40px;
}

.main-nav li {
  display: inline-block;
  margin-right: 100px;

}

.main-nav a {
  text-decoration: none;
  color: black;
}

.background-wrapper {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #DFE6ED;
}

.footer-wrapper {
  display: flex;
}

.footer-headings {
  padding-right: 200px;
  display: flex;
  flex-direction: row;
}

.footer-headings a {
  text-decoration: none;
  color: white;

}

.footer-icon-container a {
  color: white;

}

.icons a {
  font-size: 20px;
  color: white;

}

.contact-links-container {
  display: flex;
  flex-direction: column;
  color: white;

}

.contact-links-container a {
  text-decoration: none;
  color: white;
}

.article-wrapper img {
  width: 50px;
  margin-left: 25px;
  margin-top: 25px;
}

.hero-content-wrapper {
  padding: 50px;
  background-color: #B0BECB;
}

#image1 {
  margin-left: 200px;
}

.icon-text {
  margin-top: 30px;
  text-align: center;
}

.search {
  margin-left: 250px;
  border-radius: 16px;
  border: none;
  height: 30px;
  width: 200px;
}

#learn-more-btn {
  margin-top: 70px;
  border: none;
  padding: 20px 20px;
  gap: 10px;
  width: 280px;
  height: 70px;
  background-color: #345C81;
  border-radius: 16px;
  font-size: 15px;
  color: white;
}

fieldset {
  border: none;
  background-color: #B0BECB;
}

.in-search {
  border-radius: 16px;
  height: 30px;
}

#submit {
  background-color: #FFFFFF;
  border: 2px solid #345C81;
  border-radius: 16px;
  height: 30px;
  width: 60px;
}

.project-tags {
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.project-tags p {
  border: solid;
  padding: 10px;
  border-radius: 30px;
}

#search-mag {
  border: none;
  background-color: #B0BECB;
}

.project-img {
  display: flex;
  justify-content: center;
}

.student-info {
  display: flex;
  gap: 10px;
  margin: 10px;
  margin-bottom: 20px;
}

.load-btn {
  display: flex;
  justify-content: center;
}

.load-btn a {
  background: #FFFFFF;
  border: 1px solid #353738;
  border-radius: 16px;
  padding: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
}

.student-btn {
  text-decoration: none;
  color: black;
  background: #FFFFFF;
  border: 1px solid #345C81;
  border-radius: 8px;
  padding: 10px;
  margin-right: 10px;
}

.student-btn i {
  margin-right: 5px;
}

.student-project-container {
  background-color: #DFE6ED;
  padding-bottom: 50px;
}

.logo-container {
  display: flex;
}

.side-icons {
  display: flex;
  font-size: 25px;
  gap: 20px;
  position: relative;
  left: 60%;
}

.icon {
  float: right;
  font-size: 40px;
}

.back-container a {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 50px;
  padding: 50px;
  background-color: #DFE6ED;
  text-decoration: none;
  color: black;
}